quotes: [
  "Commander, you are needed on the bridge immediately. Have the rest of your team prepare for boarding action."
  "Commander, you're bleeding."
  "And one cannot train in the ways of spilling blood without partaking in the act. It is good to see that the softness of others in the Covenant has not weakened your discipline."
  "The matter of concern now is the Infinite Succor. It has been boarded by unknown forces, though we suspect the Humans. Our information is limited to a single distress signal from the ship that contained few details. It was from an Unggoy unsurprisingly."
  "Yes, the Demon may be among us. And if he is..."
  "Your utmost concern, commander, is securing the Infinite Succor and the Legate onboard. The Infinite Succor provides much of the sustenance the fleet requires. And losing it will be a great inconvenience. But if you find the Demon. It becomes your first priority."
  "Here is the information on the layout of the ship. Plus the override command codes for its systems. With those you can override any commands given to the system except those of the Legate on board. The Minister of Etiology."
  "There was only one ship."
  "Yes. They called it the Pillar of Autumn."
  "It fled, as we set fire to their planet."
  "But I followed with all the ships in my command."
  "Blinded?"
  "No."
  "Noble Hierarchs, surely you understand that once the Parasite attacked—"
  "By the time I learned the Demon’s intent, there was nothing I could do."
  "I will continue my campaign against the Humans."
  "If they came to hear me beg, then they will be disappointed."
  "I am already dead."
  "The Mausoleum of the Arbiter."
  "Even on my knees, I do not belong in their presence."
  "What use am I? I can no longer command ships… lead troops into battle."
  "What of the Council?"
  "Nothing ever will."
  "That makes two of us."
  "What is it?"
  "Then we shall force him out."
  "The cable….I’m going to cut it."
  "Turn, Heretic."
  "Who has taught you these lies?"
  "The Oracle!"
  "I had no choice Holy Oracle. This Heretic imperiled the Great Journey."
  "That is the Oracle!"
  "We have always been your protectors."
  "The Human that killed the Prophet of Regret. Who was it?"
  "The demon is here!?"
  "Retrieving the Icon is my only concern."
  "At the center of this zone, is a Sacred Icon critical to the Great Journey. I must find it."
  "The Icon is my responsibility."
  "When the Prophets learn of this, they will take your head!"
  "Demon!"
  "Kill me or release me, parasite. But do not waste my time with talk!"
  "Your ignorance already destroyed one of the Sacred Rings demon, it shall not harm another."
  "Murdered, by the Brutes."
  "What is that place?"
  "I must get inside."
  "Tartarus has locked himself inside the Control Room."
  "Tartarus, stop. Put down the Icon."
  "There are things about Halo that even the Hierarchs do not understand."
  "Is it?"
  "Oracle, what is Halo's purpose?"
  "The Sacred Rings. What are they?"
  "And those who made the rings. What happened to the Forerunners?"
  "Tartarus, the Prophets have betrayed us."
  "And where Oracle, is that?"
  "Were it so easy."
  "Come, we must go, the Brutes have our scent."
  "The Prophets are liars, but you are fools to do their bidding!"
  "The Grunts' new-found courage is but fear. When we are victorious, all who serve the Prophets will be punished."
  "To the river, hurry!"
  "Grenades! Blow them to bits!"
  "The Banshees will return. Hurry, back into the jungle!"
  "See how they bait their trap? I will help you spring it."
  "Half-wit insects! The Prophets use you like they used me! Reject their lies! Rebel, or all your hives will perish!"
  "Spartan, the Brutes have taken your soldiers, as prisoners or as meat for their bellies, I do not know. In case some yet live, let us be careful when we shoot."
  "Again, the Brutes show their weakness."
  "We did all we could. Let us move the survivors up to the hangar, there is a lift outside."
  "There was honor in our Covenant once... and there shall be again!"
  "I will not be shamed. Not again! Not by you!"
  "What is it? More Brutes?"
  "There are some powerful weapons we've not yet used..."
  "Quickly! Let us find their ship. Make short work of this abomination!"
  "Wretched/Accursed parasite! Rise up and I will kill you! Again and again!"
  "My brothers, I fear you bring bad news."
  "And the Fleet, has quarantine been broken?"
  "We had a fleet of hundreds!"
  "I shall remain here. We will let nothing pass."
  "No. If your construct is wrong, then the Flood has already won."
  "Well done, Spartan."
  "Oracle!"
  "Phantom!"
  "Follow the Oracle, Spartan. I will help your Sergeant clear the skies."
  "No, Oracle. We must keep the Prophet of Truth firmly in our sights."
  "Second Tower is clear, Spartan, no need to land. Let us hasten to the Third Tower."
  "Darken this Tower and the barrier will fall. Go, Spartan! We have no time to waste."
  "To the top of these hills, Oracle, no higher. We cannot risk your capture by the Flood."
  "Spartan, come to me. This platform hides a path!"
  "The Prophet will die by my hands, not theirs."
  "It will not last!"
  "I will have my revenge - on a Prophet, not a plague!"
  "And so, you must be silenced."
  "We trade one villain for another."
  "What do you see?"
  "A replacement. For the Ring you destroyed."
  "How will you light it?"
  "No. This is our fight. And I will see it finished."
  "I am sorry, Spartan. But come."
  "Well, that sucks. But come."
  "Even in death, your Sergeant guides us on."
  "Were it so easy."
  "Fear not. For we have made it so."
  "Take us home."
  "Yaaah!"
  "Hi-yah!"
  "Our enemy!"
  "Steel yourself!"
  "Make ready."
  "Caution!"
  "Up high!"
  "Look below!"
  "They're falling back."
  "Good to have you."
  "Welcome to the battle."
  "Welcome to the fight."
  "Our alliance."
  "There's plenty of fight left for you."
  "A powerful weapon we have in you."
  "Take point."
  "I'm right behind you."
  "Take their flanks!"
  "Toss a grenade!"
  "Good throw."
  "Look out! Grenade!"
  "Look out!"
  "Beware!"
  "The beast has a hammer!"
  "The beast is using a hammer!"
  "Snipers!"
  "Phantom!"
  "They've sent a Phantom!"
  "A Hunter pair!"
  "Drop the heavy weapon!"
  "We're under attack!"
  "Weapons fire! Do you hear?"
  "Unworthy of my blades."
  "This time, we triumph."
  "We won this time."
  "We won."
  "The battle is won."
  "The battle is over."
  "Again, the Brutes show their weakness."
  "We are victorious."
  "Victory is ours."
  "They were no match for us."
  "Save your fire for the Brutes."
  "Be careful!"
  "We're allies!"
  "Stop that!"
  "Save your anger for our true foes!"
  "Now is not the time to raise my ire."
  "Do not provoke my wrath!"
  "You shot me, fool!"
  "Did you know he fights with us?"
  "He was our ally!"
  "This madness must end!"
  "Circumstances made strange allies of us."
  "We cannot endure another fight."
  "To find him you have to forget the stories, forget the legends. You'll have to do more than walk in his footsteps. For he is more than the sum of his actions. I tell you this, not because I trust you, Agent Locke, but because all our lives are at stake. Because the seeds of our future... are sown in his past."
  "I have had many names in this long war. The humans knew me as 'Destroyer'. In the Covenant, I was Supreme Commander. The Prophets named me... Arbiter. And your Master Chief calls me... friend. How well do you know your friend, human? And what will you call me when you learn the truth of what I have done?"
  "My friend's trust is not the issue today, Spartan Locke. It is my trust you must earn."
  "You are hunter, yes? A seeker of things?"
  "And now you hunt other Spartans?"
  "Ah, you seek..."
  "I was not told the identity of your prey."
  "An insult, to be sure, but one with a modicum of respect. He was indeed my enemy, but, in time, I named him ally... even friend. The events which forged this bond are… complicated."
  "What do you call him, Spartan Locke?"
  "117. The Master Chief. He is not your friend... is he your foe?"
  "I admire your sense of duty, Spartan. But if he has left the fold, he has his reasons."
  "Sunaion — the Covenant's final stronghold... That is where you'll find the Master Chief... and the guardian he seeks."
  "The Swords of Sanghelios will be victorious! Close closer, traitor, and see how a true Sangheili fights!"
  "It will be your honor to die."
  "For Sanghelios!"
  "Spartans? What is the meaning of this?"
  "ONI... out of the shadows... The spies announce themselves now, Agent Locke?"
  "I know who you are. You were an agent when you volunteered to execute me."
  "Yet, now you hunt another Spartan, the greatest of your clan."
  "Sunaion is the Covenant's final stronghold on Sanghelios. We will move only when victory is assured."
  "That discomfort you feel, that betrayal… I am depending on it."
  "The Covenant soldiers will hear the Guardian wake from its slumber, they will look up over the bodies of their brothers, through the smoke of their burning city, they will look to the horizon as their holy idol rises from the sea and forsakes them. And that is when the Covenant dies."
  "Affirmative. Warriors of 'Vadam! Swords of Sanghelios! Commence attack!"
  "All Banshee wings, engage the Kraken!"
  "Spartans, the Kraken is pulling away. We move to pursue."
  "Arbiter to all wings. The Kraken retreats! Press your attack!"
  "Excellent. Bring fire upon the Covenant, Spartans."
  "Victory! Well done, Spartans!"
  "I am sending a ship your way, Spartans."
  "Everything is prepared. We will begin when the Constructor is ready."
  "It is not the kind of plan I would expect from a human. You suggest flying low, close to structures."
  "I am moments from a decisive victory for my home planet, Commander Palmer. Do not try to goad me."
  "Today the Covenant will fall! Sanghelios! will be free!"
  "Swords of Sanghelios, with me! Target the air defense! Clear landing zones! For Sanghelios!"
  "Disable the air defenses. Target either the cannon itself or the power supply."
  "Excellent."
  "Spartans, the Guardian is at the far end of the city. There are more anti-air emplacements in that direction."
  "Good luck to you, Spartan."
  "Swords of Sanghelios, today Sunaion will fall, and with it the Covenant! To me, brothers!"
  "My troops will arrive and secure your position. Move on towards the Guardian. You must reach the Master Chief in time."
  "Victory and honor do not grow from timid seeds, Spartan. Your harvest shall be grand. When you see the Chief again... tell him I send my greetings."
  "Spartans. Be aware. New enemies join the battle above. Armored. Glowing."
  "(heavy static) Spartan Locke -- near the Guardian -- killing everyone-"
  "Spartans..."
  "Hunt them to the last. Today we extinguish the Covenant's light FOREVER!"
]