quotes: [
  "Captain Keyes."
  "No thanks to your driving, yes."
  "I understand."
  "Don't get any funny ideas."
  "Punch it."
  "We'll be fine."
  "You all right?"
  "So… what sort of weapon is it?"
  "Let's stay focused. Halo... how do we use it against the Covenant?"
  "Slow down. You're losing me."
  "Something buried? Where?"
  "No, nothing."
  "Hold on now, he's a friend."
  "Yes… activate Halo's defenses, and destroy the Flood, which is why we brought the Index to the Control Center."
  "Enough! The Flood is spreading. If we activate Halo's defenses, we can wipe them out."
  "Is it true?"
  "That's not going to happen."
  "Let's find a ride, and get to the Captain."
  "Something tells me I'm not gonna like this."
  "It'll hold."
  "We'll make it."
  "How much firepower would you need to crack one of the engine's shields?"
  "Here we go."
  "Did anyone else make it?"
  "No. I think we're just getting started."
  "Tell that to the Covenant."
  "You told me there wouldn't be any cameras."
  "Thanks."
  "Yes sir, I need a weapon."
  "How much time was left?"
  "Sir. Permission to leave the station."
  "To give the Covenant back their bomb."
  "So, stay here."
  "I won't."
  "Understood."
  "Are you sure?"
  "Commander, we've got a problem."
  "Relax. I'd rather not piss this thing off."
  "This thing is right. Halo is a weapon. Your Prophets are making a big mistake."
  "Boo."
  "Your pal. Where's he going?"
  "That Brute has the Index. And Miranda and Johnson. He can activate the ring."
  "After I'm through with Truth..."
  "This is Spartan-117, can anyone hear me? Over."
  "Sir, finishing this fight."
  "Yeah. You're not."
  "She stayed behind."
  "Likewise, ma'am."
  "What about Halo?"
  "The rings will kill us all."
  "Green. Sir."
  "Does he usually mention me?"
  "Worse."
  "Wait. Leave her alone."
  "On Halo, you tried to kill Cortana. You tried to kill me."
  "It's just a message."
  "I'll find Cortana's solution. And I'll bring it back."
  "That's...our galaxy. We're beyond the rim."
  "What is this place?"
  "This is the Ark?"
  "That's a first."
  "Can you tell me where we are exactly?"
  "And Truth?"
  "Spark, move."
  "Commander."
  "Not close enough."
  "When did you know?"
  "Light it."
  "You know me. When I make a promise..."
  "Lucky me. Do you still have it?"
  "Thought I'd try shooting my way out—mix things up a little."
  "We'll head for the Portal. And we'll all go home."
  "I'm getting you out of here."
  "We'll make it."
  "What happened?"
  "It's finished."
  "Wake me... When you need me."
]