quotes: [
  "No thanks to your driving, yes."
  "Don't get any funny ideas."
  "Punch it."
  "We'll be fine."
  "You all right?"
  "Let's stay focused. Halo... how do we use it against the Covenant?"
  "Slow down. You're losing me."
  "Something buried? Where?"
  "I don't understan-"
  "Hold on now, he's a friend."
  "Yes... Activate Halo's defenses, and destroy the Flood, which is why we brought the Index to the Control Center."
  "Enough! The Flood is spreading. If we activate Halo's defenses, we can wipe them out."
  "Is it true?"
  "That's not going to happen."
  "Let's find a ride and get to the Captain."
  "You have a better idea?"
  "Something tells me I'm not gonna like this."
  "We'll make it."
  "How much firepower would you need to crack one of the engine's shields?"
  "Here we go."
  "No. I think we're just getting started."
  "Tell that to the Covenant"
  "You told me there wouldn't be any cameras."
  "I need a weapon."
  "Sir, permission to leave the station"
  "To give the Covenant back their bomb."
  "I won't."
  "Relax. I'd rather not piss this thing off."
  "This thing is right. Halo is a weapon. Your Prophets are making a big mistake."
  "Boo..."
  "Your pal. Where's he going?"
  "That Brute has the Index. And Miranda and Johnson. He can activate the ring."
  "After I'm through with Truth—"
  "Sir, finishing this fight."
  "Aboard Forerunner vessel. Destination Earth- Minimum one Prophet Hierarch on board. No estimate for remaining crew... More to follow."
  "Yeah. You're not."
  "She stayed behind."
  "The rings will kill us all."
  "Does he usually mention me?"
  "Worse."
  "Wait, leave her alone"
  "On Halo, you tried to kill Cortana. You tried to kill me."
  "It's just a message."
  "I'll find Cortana's solution. And I'll bring it back."
  "Not close enough."
  "Light it."
  "You know me. When I make a promise..."
  "Lucky me. Do you still have it?"
  "Thought I'd try shooting my way out — mix things up a little."
  "We'll head for the Portal. And we'll all go home."
  "I'm getting you out of here."
  "We'll make it."
  "Wake me... When you need me."
  "We make our own luck, but I'll always be there when you need me."
  "Not lucky enough, we lost two Spartans today: Solomon and Arthur. And that Elite we encountered... he was strong. I have to be stronger."
  "What are you lookin' at?"
  "You need a weapon?"
  "Did you miss me?"
  "Finish this Fight!"
  "Time to give the Covenant back their bombs."
  "Trust me, I can stick it."
  "I won't...miss."
  "I'm just getting started."
  "Headshot, great."
  "Tango down."
  "Headshot."
  "I'm in."
  "It's dead."
  "Frag out."
  "Cover me, I'm reloading."
  "Reloading."
  "He won't be gettin' up."
  "Hostile eliminated."
  "Ha!"
  "Not bad, shot's on target."
  "This is bad."
  "Get behind me."
  "Plasma Launcher, ready."
  "Spartan-117, locked and loaded."
  "Rockets, ready."
  "Let's finish this fight."
  "Let's mix things up a little."
  "This ends here!"
  "Quick and painless."
  "Anti-vehicle, up."
  "Spartan Laser, ready."
  "Point me in the right direction."
  "Master Chief Laser. Online."
  "You want me to talk? I won't."
  "Heretic THAT."
  "You hear that voice in your head too?"
  "You know, I remember my gear being a lot cleaner than this."
  "The voice in my head... sounds HOT."
  "Maybe I AM a demon."
  "Fuel Rod ready."
  "Stay Sharp."
  "Let's try to stay focused now."
  "Permission to speak... you know what, forget it."
  "Trust me, you really don't want to piss me off."
  "This fight...is...finished."
  "Ready to get back to work?"
  "How long was I out?"
  "I thought we had a truce with the Covenant."
  "Maybe they haven't recognized us."
  "These Covenant seem more fanatical than the ones we fought before."
  "The Covenant weren't the one's scanning us."
  "Something was wrong before we left the Dawn."
  "If we could just get back to Earth, and find Halsey, she could fix this."
  "It sounds like the Covenant were here looking for something."
  "They've been waiting outside the planet for three years?"
  "Asking's not my strong suit."
  "Requiem. At least we know where we are now."
  "That can't be right. Scan again."
  "You mean the planet's hollow?"
  "What do you know about Infinity?"
  "Humanity... That's got to be Infinity. Can you get us to those coordinates?"
  "What were those things?"
  "The beacon was pulled into Requiem with us. If they try to follow it..."
  "I'll handle them; you just find us that control node."
  "How soon 'til Infinity hits the gravity well?"
  "We don't have time!"
  "Infinity! This is Sierra-117 of the UNSC Forward Unto Dawn. Do you copy?"
  "Same place we are."
  "Something tells me that's only because the Didact wanted it that way."
  "This is Sierra-117 of the UNSC Forward Unto Dawn. We're on station, ready to assist."
  "Light up their friend-or-foe tags; we're gonna need something to zero in on."
  "Sir, Infinity drove the Didact back. He's vulnerable!"
  "Captain, what's Force Recon's assessment of the terrain?"
  "We'll make it work."
  "You know I won't let that happen."
  "Sir, I can move faster alone."
  "This could be a trap."
  "Who are you?"
  "The Prometheans... they're human."
  "Planning for what?"
  "Can I defeat the Didact without it?"
  "It's a long story, but I know what the Didact's after."
  "Sierra One One Seven to Infinity, what's our status?"
  "Does Infinity have a shot on the gravity well?"
  "Sir, we've seen what the Didact is capable of. If we let him leave this world, humanity will be at risk."
  "With all due respect Sir, I know what I saw."
  "The Didact has to be stopped. If you won't do that... I will."
  "No, Sir."
  "Get word to Earth that trouble is coming. Cortana and I will do what we can back here."
  "Infinity's tracked the Didact's vessel to a docking structure southeast of here. We'll jump ship as Infinity exits the roof."
  "Cortana, where's this coming from?"
  "He's there. Keep trying."
  "Cortana, are you hearing him?"
  "What are you doing?"
  "His ship's online! They're leaving!"
  "Track those Liches. We can go across them to get to the Didact's ship."
  "This is UNSC Master Chief to base. Do you read?"
  "They're after a Forerunner artifact you took from a Halo ring."
  "Doctor, I need you to protect that artifact until we arrived. Send whatever-"
  "Doctor, listen to me. You have to issue the order to evacuate the station."
  "Send me your coordinates. I'll see what I can do about clearing an evac route on my way to you."
  "What can we do to keep the Covenant out?"
  "The device you recovered was a Forerunner weapon. The commander of that ship wants it back."
  "We don't have any choice, doctor."
  "If we can't move the Composer, we have to make sure the Didact can't either."
  "I'm sorry, doctor. Keep routing your people to the evac centers. Once we take care of the Composer, you won't have much time."
  "Doctor Tillson, the Composer's location's been compromised. You've got to get the nuke down here!"
  "Ready or not, I need it now!"
  "Cortana, see if you can raise Tillson. Get me a status on the rest of the station."
  "Cortana, I need that info! (sigh) Look... don't think about the Didact. Don't think about the Composer. Only focus on finding me Tillson."
  "Didact's taken the Composer. Get these people to the evac centers!"
  "Cortana. It's not over. Not yet."
  "The Didact's got the Composer. We're in a Broadsword carrying a HAVOK-grade payload, on approach to deliver it."
  "Commander, direct all your ships to the Composer."
  "Infinity, the Didact just closed off our entrance to the Composer."
  "Clean hit. We're proceeding to insertion."
  "Plan B."
  "We'll have to deploy the warhead manually. How and where?"
  "Keep scanning for the Composer. We'll figure it out along the way."
  "Cortana? Cortana, do you read? Cortana, come in."
  "How...?"
  "So how do we get out of here?"
  "... what?"
  "No. That's not-! We go together."
  "I am not leaving you here!"
  "It was my job to take care of you."
  "Cortana- please..."
  "Wait."
  "Our duty as soldiers, is to protect Humanity, whatever the cost."
  "She said that to me once. About being a machine"
  "You're on."
  "Not yet."
  "I don't need medals or awards, Cortana."
  "Service and the respect of my fellow soldiers is all the reward I ask."
  "I-I'll need a tux."
  "Thanks."
]